{% load static %}

<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'css/regist.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/regist.js' %}"></script>

	<title>Sign Up</title>
</head>

<body>
	<section class="container main" name="form">
		<h1 id="header">SIGN YOURSELF UP!</h1>
		<p class="text-center" id="feedback"> &nbsp </p>
		<div class="row">
			<div class="col-md-12">
				<form id="user_form" class="site-form" enctype="multipart/form-data">         
					{% csrf_token %}         
					 {% for field in form.visible_fields %}
					 	<div class="form-group row">
					 		<label for="inputName" class="col-md-2 col-3 col-form-label text-right">
					 			{{ field.label_tag }}
					 		</label>
					 		<div class="col-9 col-md-10">
					 			{{ field }}
					 		</div>
					 	</div>
					 {% endfor %}
					<div class="form-group row">
						<div class="cold-md-10 col-9 ml-auto">
							<button type="submit" class="btn btn-default" id="submit-button" onClick="createUser()">Sign Up</button>
							<a href="/statusform/" class="button" id="gotohome" style="color:white; text-align: center;">Go to Home</a>
						</div>
					</div>
				</form>
			</div>
			<br>
			<div class="container">
				<table id="subscribers_list" class="table table-bordered">
					<thead>
						<tr>
							<th>Nama</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</section> 
</body>