<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  		<link rel="stylesheet" href="/resources/demos/style.css">
  		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
  		<link rel="stylesheet" type="text/css" href={% static "css/profileCSS.css" %}>
  		<script src="{% static 'js/profileJS.js' %}"></script>

        <title>salsahava's status</title>
    </head>

    <body class="profile" onload="myFunction()">

    	<div id="loader"></div>

    	<div style="display:none;" id="myDiv" class="animate-bottom">
	    	<ul class="nav justify-content-center">
	    		<h1>Hello, Apa Kabar?</h1>
	    	</ul>

	    	<div class="container">
		    	<ul class="nav justify-content-center">
				  <li class="nav-item">
				    <a class="nav-link active" href="/statusform/">Home</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" href="/statusform/profile">Profile</a>
				  </li>
				  <li class="nav-item">
				  	<a class="nav-link active" href="/statusform/bookrecs">Book Recommendations</a>
				  </li>
				  <li class="nav-item">
				  	<a class="nav-link active" href="/statusform/login/">Log In</a>
				  </li>
				  <li class="nav-item">
				  	<a class="nav-link active" href="/registration/">Sign Up</a>
				  </li>
				</ul>
			</div>

			{% block content %}
	        {% endblock %}
    	</div>
    </body>

</html>