{% extends "base.html" %}
{% block content %}

<body>

	{% if user.is_authenticated %}
		<section>
			<br>
			<h2>Welcome, {{ user.username }}!</h2>
			<br>
			<input type="submit" value="LOGOUT" class="btn btn-danger" onClick="location.href='{% url 'logout' %}'"/>
		</section>
		<br>
	{% else %}
		<section>
			<b></b>
<!-- 			<a class="lead" href="{% url 'login' %}" style="color: #343F4B;"><strong>Log In</strong></a> -->
		</section>
		<br>
	{% endif %}

	<section>
		<input type="search" ng-model="search" class="form-control input-lg" id="search" placeholder="Search...">
		<br>
	</section>

	<section class="counter-fav">
        <i class="fa fa-star" style="color:yellow; font-size:20px">
        	<a id="counter"> 0 Favorite Books</a>
        </i>
    </section>

    <div class="table-responsive">
	    <table class="table table-bordered">
	    	<thead>
				<tr>
					<th></th>
					<th>TITLE</th>
					<th>AUTHOR</th>
					<th>PUBLISHER</th>
					<th>PUBLISHED DATE</th>
					<th>DESCRIPTION</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="books">
			</tbody>
		</table>
    </div>
</body>

{% endblock %}