{% extends "base.html" %}
{% block content %}
    <body style="margin: 25px 50px 75px 50px; background: #0896A1;">
        <br></br>
        <h1 class="page" style="text-align: center;">ADD STATUS</h1>
        <section name="form" style="text-align: center;">
            <form id="form" method="POST" action="{% url 'addStatus' %}">         
                {% csrf_token %}         
                {{ status_form.as_p }}         
                <br>         
                <button type="submit" class="btn btn-default">Submit</button>     
            </form> 
        </section>

        <br></br>

        <h1 class="page">MY STATUS</h1>

        <table class="table">     
            <thead>        
                <th>Status</th>                 
                <th>Date Posted</th>    
            </thead>

            <tbody>
                {% for i in status %} 
                <tr>
                <td> {{i.status}} </td>            
                <td> {{i.date_posted}} </td>       
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </body>
{% endblock %}
