{% load static %}

<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'css/regist.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<style type="text/css">
		body {
			background-color: #0896A1;
		}

		#header {
			color: #343F4B;
			font-family: "Lato";
			text-align: center;
		}

		#loginwithgoogle {
			color: white;
		}
	</style>

</head>

<body>
	<section class="container main" id="loginform">
		<h1 id="header">LOG IN</h1>
		<div class="row">
			<div class="col-md-12">
				<form>
					<div class="form-group">
				      <label for="usr">Username:</label>
				      <input type="text" class="form-control" id="usr" placeholder="Enter your username">
				    </div>
				    <div class="form-group">
				      <label for="pwd">Password:</label>
				      <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
				    </div>
				    <br>
					<a type="submit" class="btn btn-default" href="/statusform/bookrecs/">Log In</a> 
					<a href="/statusform/" class="button" id="gotohome" style="color:white; text-align: center;">Go to Home</a>

				</form>
				<br>
				<p><strong>OR</strong></p>
				<a id="loginwithgoogle" href="{% url 'social:begin' 'google-oauth2' %}">Login wih Google</a>

			</div>
		</div>
	</section>
</body>