{% extends "base.html" %}
{% block content %}
	<body>

		<br></br>

		<div>
            {% load static %}
			<img src={% static "images/image1.png" %} alt="My picture">
		</div>

		<br></br>

		<div id="button">
			<div class="container">
				<button id="change">Change Theme</button>
			</div>
		</div>
		
		<br></br>
		
		<div class="desc">
			<p class="q">Nama: </p>
			<p class="answ">Salsabila Hava Qabita</p>
			<p class="q">Tanggal Lahir: </p>
			<p class="answ">08 Januari 2000</p>
			<p class="q">Lokasi: </p>
			<p class="answ">Jakarta, Indonesia</p>
			<p class="q">Universitas: </p>
			<p class="answ">Universitas Indonesia</p>
		</div>

 		<div id="accordion-resizer" class="ui-widget-content">
			<div id="accordion">
				<h3>Aktivitas Saat Ini</h3>
				<div>
					<ul>
						<li>Kuliah</li>
						<li>Menjadi Staff Divisi Medis PMB</li>
						<li>Menjadi Staff Wirausaha DPM</li>
						<li>Menjadi WPJ Divisi Dankom Educare 2019</li>
					</ul>
				</div>

				<h3>Pengalaman Organisasi / Kepanitiaan</h3>
				<div> 
					<ul>
						<li>Anggota KIR SMPN 102 Jakarta (2011)</li>
						<li>Anggota Language Club SMAN 99 Jakarta (2014)</li>
						<li>Anggota PMR SMAN 99 Jakarta (2015)</li>
						<li>Staff Dokumentasi Seminar Narkoba SMAN 99 Jakarta (2015)</li>
						<li>Staff Konsumsi Donor Darah SMAN 99 Jakarta (2016)</li>
						<li>Staff Dokumentasi Seminar Narkoba SMAN 99 Jakarta (2016)</li>
						<li>Staff P3K Kompetisi Olahraga dan Seni SMAN 99 Jakarta (2016)</li>
						<li>Staff Keamanan Experience (Pentas Seni SMAN 99 Jakarta) (2016)</li>
						<li>Staff Pengajar Bahasa Inggris BETIS (2018)</li>
					</ul>
				</div>

				<h3>Prestasi</h3>
				<div>
					<ul>
						<li>Juara I National English Olympics 2014</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
{% endblock %}