 .nav-link {
 	color: white;
 }

 .profile {
 	background: #0896A1; 
 	margin: 25px 50px 75px 50px;
 }

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.desc {
	text-align: center;
}

.q {
	color: #343F4B; 
	font-weight: bold;
}

.answ {
	color: white;
}

 #accordion-resizer {
	padding: 10px;
	width: 500px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
 }

#accordion h3 { 
	background: none;
	background-color: #343F4B;
	color: white;         
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #343F4B;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.ui-accordion-content {
	height: 100px;
}
