 .nav-link {
 	color: white;
 }

 .profile {
 	background: #0896A1; 
 	margin: 25px 50px 75px 50px;
 }

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.desc {
	text-align: center;
}

.q {
	color: #343F4B; 
	font-weight: bold;
}

.answ {
	color: white;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*
 #accordion-resizer {
	padding: 10px;
	width: 500px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
 }

#accordion h3 { 
	background: none;
	background-color: #343F4B;
	color: white;         
}
*/