 .nav-link {
 	color: white;
 }

 .profile {
 	background: #0896A1; 
 	margin: 25px 50px 75px 50px;
 }

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.desc {
	text-align: center;
}

.q {
	color: #343F4B; 
	font-weight: bold;
}

.answ {
	color: white;
}

 #accordion-resizer {
	padding: 10px;
	width: 500px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
 }

#accordion h3 { 
	background: none;
	background-color: #343F4B;
	color: white;         
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

