 .nav-link {
 	color: white;
 }

 .profile {
 	background: #0896A1; 
 	margin: 25px 50px 75px 50px;
 }

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.desc {
	text-align: center;
}

.q {
	color: #343F4B; 
	font-weight: bold;
}

.answ {
	color: white;
}

 #accordion-resizer {
	padding: 10px;
	width: 500px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
 }

#accordion h3 { 
	background: none;
	background-color: #343F4B;
	color: white;         
}

.pageloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("Dual Ring-1s-200px.01863efc951c.gif") 50% 50% no-repeat rgb(249,249,249);
	opacity: .8;
}