body {
	background-color: #0896A1;
}

#header {
	color: #343F4B;
	font-family: "Lato";
	text-align: center;
}

.container {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.fields {
	min-width: 55vw;
}

.alert-text {
	color: #E93333;
}

.submit-button {
	margin-left: auto;
	margin-right: auto;
}